body{
    background-color: #BBB;
    
}

.selections{
    display:flex;
    justify-content: center;
    
}
.reset{
    display:flex;
    justify-content: center;
    align-items: center;
}
.reset-button{
    
    border: none;
    background: none;
    outline:none;
    transition:200ms;
    font-size: 2.5rem;
    cursor:pointer;
}
.selection{
    border: none;
    background: none;
    outline:none;
    cursor:pointer;
    font-size: 10rem;
    transition:200ms;
}

.selection:hover{
    transform:scale(1.2);
}
.reset-button:hover{
    transform:scale(1.2);
}

.results{
    display:grid;
    justify-content: center;
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
    align-items: center;
    margin-top: 1rem;
    font-size: 3.5rem;
}

.result-score{
    margin-left: .1rem;
    font-size: 2rem;
    color:#222;
}

.result-selection{
    opacity:.5;
    font-size: 3rem;
}
.result-selection.winner{
    opacity:1;
    font-size: 5rem;
}